# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
xcuserdata/
*.xcuserstate

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.resolved

# Misc
*.log
